<div class="row">
    

    <div class="card-container">
        <div class="header">
            <a href="#">
                <img src= {{persona.img}} alt="">
            </a>
            <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
            <h4>Full Stack Developer Jr. </h4>
        </div>
        <div class="descripcion ">
            <button type="button" class="btn btn-light" routerLink="/editacercade/3" *ngIf="isLogged">
                Editar persona
            </button>
            <h1 id="Acercademí">  Acerca de mí</h1>
            <p id="Acercademípárrafo">{{persona.descripcion}}
            </p>
            <div class="ilustracion">
                <img src="../../../assets/separador7.png" alt="">
            </div>
           
        </div>
    </div>
    
</div>