.row{
    padding: 60px;
}
div{
    background-color:#a349a4 ;
    color: white;
    text-align: justify;
}
h1, h3{
    display: inline;
}

.btn{
    background-color: violet;
    color: purple;
    font-weight: bold;
    border-width: medium;
    margin-bottom: 3%;
}

h1,p {
    color: white;
    font-style: bold;
    display: flex;
    align-items: center;
}