.gradient-custom {
    /* fallback for old browsers */
    background: violet;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,rgb(87, 45, 126) ,  purple);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(87, 45, 126), plum)
    }
.btn {
        color: purple;
        font-weight: bold;
        border-width: medium;
        margin-bottom: 3%;
    }
    h2,p {
        color: purple;
        font-style: bold;
        align-items: center;
    }
    img{
        width: 90px;
        right: 250%;
        justify-content: space-between;
        padding-right: 11px;
    }