.row{
    padding: 60px;
}
div{
    background-color: plum;
    color: rgb(112, 60, 127);
    text-align: justify;
}
h1,h2, p{
    display: inline;
    color: rgb(112, 60, 127);

}

.btn{
    background-color:rgb(112, 60, 127) ;
    color: plum;
    font-weight: bold;
    border-width: medium;
    margin-bottom: 3%;
}

 