.row{
    background-color: purple;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}
@media (min-width: 576px){img{
    width: 20%;
    height: 250px;
    transition: 0.5s;
    object-fit: cover;
    
}}
@media (max-width: 576px){img{
    width: 75%;
    height: 150px;
    transition: 0.5s;
    object-fit: cover;
    
}}
 img:hover{
    transform:scale(1.2);
 }
