<div class="row">
    <h1>「 Experiencia laboral 」</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> -
                 <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
               adipisicing elit. Atque, aut! Est dolore 
               deserunt praesentium facilis explicabo,
               fugiat, minima quidem magnam veritatis 
               asperiores animi cum quas. Dicta, recusandae 
               quam! Quisquam, a.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> -
                 <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
               adipisicing elit. Atque, aut! Est dolore 
               deserunt praesentium facilis explicabo,
               fugiat, minima quidem magnam veritatis 
               asperiores animi cum quas. Dicta, recusandae 
               quam! Quisquam, a.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> -
                 <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur 
               adipisicing elit. Atque, aut! Est dolore 
               deserunt praesentium facilis explicabo,
               fugiat, minima quidem magnam veritatis 
               asperiores animi cum quas. Dicta, recusandae 
               quam! Quisquam, a.</p>
        </ul>
    </div>
</div>
