<div class="row">
    <h1>「 Proyectos realizados 」</h1>
    <div class="contendor">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 parte1">
            <h2>Encriptador</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, aliquam eum. Fuga rerum numquam aliquam sequi ipsam ut autem expedita enim nobis maxime corporis, magni consectetur, cupiditate quae maiores atque.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 offset-md-1 
        offset-lg-1  parte2" >
            <img src="../../../assets/deco1.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
