<div class="row">
  <h1>「 Hard & Soft skills 」</h1>
  <h4> ¡ Click  on each circle to see the progress in percentage !</h4>
  <h1>🡴</h1>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>HTML</h2>
     <h3>80 %</h3>
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/html.png'"
    [showImage]="true"
    [imageHeight]="150"
    [imageWidth]="150"
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>CSS</h2>
    <h3>80 %</h3>
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/css.png'"
    [showImage]="true"
    [imageHeight]="120"
    [imageWidth]="120"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>JavaScript</h2>
    <h3>70 %</h3>
    <circle-progress
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="120"
    [imageWidth]="120"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>GitHub</h2>
    <h3>75 %</h3>
    <circle-progress
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/GitHubicon.png'"
    [showImage]="true"
    [imageHeight]="130"
    [imageWidth]="130"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Excel</h2>
    <h3>80 %</h3>
    <circle-progress
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/excell.png'"
    [showImage]="true"
    [imageHeight]="120"
    [imageWidth]="120"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>AutoCAD</h2>
    <h3>90 %</h3>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/autocad.png'"
    [showImage]="true"
    [imageHeight]="130"
    [imageWidth]="130"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>English</h2>
    <h3>90 %</h3>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/english.png'"
    [showImage]="true"
    [imageHeight]="130"
    [imageWidth]="130"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Team 
      work</h2>
      <h3>100 %</h3>
    <circle-progress
    [percent]="100"
    [radius]="100"
    [imageSrc]="'../assets/teamwork.png'"
    [showImage]="true"
    [imageHeight]="130"
    [imageWidth]="130"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
  <div class=" text-center col-sm-4 col-md-4 col-lg-4">
    <h2>Communication</h2>
    <h3>90 %</h3>
    <circle-progress
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/comunication.png'"
    [showImage]="true"
    [imageHeight]="115"
    [imageWidth]="115"
    [showUnits]="false "
    [showSubtitle]="false "
    [backgroundPadding]="10"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'pink'"
    [innerStrokeColor]="'violet'"
    [animation]="true"
    [animationDuration]="1500"
    [lazy]="true"
></circle-progress>
  </div>
</div>
