<div class="row">
    <div class="card-container">
        <div class="header">
            <a href="#">
                <img src="../../../assets/perfil4.PNG" alt="">
            </a>
            <h2>Luciana Rosso</h2>
            <h4>Full Stack Developer Jr. </h4>
        </div>
        <div class="descripcion ">
            <h1 id="Acercademí">  Acerca de mí</h1>
            <p id="Acercademípárrafo">🪐Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Dignissimos, qui. Id est aspernatur veniam, ex mollitia
                  consequatur minima eius omnis, deserunt quo esse rem 
                  porro odit perspiciatis molestias impedit. Nihil?🪐
            </p>
            <div class="ilustracion">
                <img src="../../../assets/separador7.png" alt="">
            </div>
        </div>
    </div>
</div>