.row{
    padding: 60px; 
    width: auto;
}
/*Estilo de Acerca de mí*/
@media (min-width: 576px){
div{
    background-color: #d29bfd;
    text-align: left;
   
}
}
@media (max-width: 576px){
    div{
        background-color: #d29bfd;
        text-align: center;
        width: 100%;
    }
    }

/*Estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        height: 45%;
        box-shadow: 6px 6px 6px gray;
        left: 4%;
        top: 910px;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 40%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px gray;
        left: 30%;
        top: 465px;
        height: 190px;
    }
}

/*etiqueta nombre, título y Acerca de mí*/
@media (min-width: 576px){
#nombre{font-weight: bold; 
    margin-top: 110%;
    color: white;
    text-align: center;
    background-color: #572364;

}}
@media (max-width: 576px){
    #nombre{font-weight: bold; 
        color: white;
        text-align: center;
        margin-top: 20%;
        background-color: #572364;
    
    }}

#título{color: white; 
    font-weight: bold; 
    text-align: center;
    background-color: #572364;
}
#Acercademí{color: #572364;

}
#Acercademípárrafo{color: #572364;
    text-align: justify;
}