div { 
    background-color: rgb(87, 45, 126);
    
    
}

app-social {
               float: right;
               margin-top: 20px;
               align-items: center;
               margin-right: 0px;
               display: flex;
}

